* {
    margin: 0;
    padding: 0;
}

body {
    background: #f857a6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.head {
    height: 18vh;
    z-index: 2;
    background-image: url('./img/avengers_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18%;
}

/* .cardWrap{

    height: 100vh; 
    width: 100vw;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
} */
.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.wrap>div{
    width: 250px;
    height: 400px;
    position: relative;
}
.card_front{
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    background-image: url('./img/avengers_bg.jpg');
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    border-radius: 10px;
}
.card_front,.card_back{
    backface-visibility: hidden;
}
/* .ironman{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background-image: url('./img/IronMan.jpg');
    background-size: cover;
    background-position: center;
    transform: perspective(7000px) rotateY(180deg);
    transition: 0.4s;

}
.captin{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background-image: url('./img/captinAmerica.jpg');
    background-size: cover;
    background-position: center;
    transform: perspective(7000px) rotateY(180deg);
    transition: all 0.8s;

}
.spider{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background-image: url('./img/spiderMan.jpg');
    background-size: cover;
    background-position: center;
    transform: perspective(7000px) rotateY(180deg);
    transition: 0.4s;

} */

.rotate{
    transform: translateY(0) ;
}
.cardWrap{
    transition: 0.8s;
}
.cardWrap.flip{
    transform: translateY(180deg);
}
.card_back::before{
    content: '';
    display: block;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 10px;
}